.vehicle-rent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;

    form{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        .row{
            padding: 0.5rem;
            width:100%;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            button{
                width: 100%;
            }
            
        }
    }
    
}